
<footer class="footer">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 col-lg-4">
        <h3 class="heading-section">À Propos de Nous</h3>
        <p class="lead">En-cours texts texts texts texts texts texts texts texts texts texts texts texts texts texts
          texts texts texts texts. </p>
        <p class="mb-5">En-cours texts texts texts texts texts texts texts texts texts texts texts texts texts texts
          texts texts texts texts.</p>
        <p><a href="#" class="link-underline">Lire Plus</a></p>
      </div>
      <div class="col-md-6 col-lg-4">
        <h3 class="heading-section">BLOG RÉCENT</h3>
        <div class="block-21 d-flex mb-4">
          <figure class="mr-3">
            <img src="../../assets/images/img_1.jpg" alt="" class="img-fluid">
          </figure>
          <div class="text">
            <h3 class="heading"><a href="#">En-cours</a></h3>
            <div class="meta">
              <div><a href="#"><span class="icon-calendar"></span> July 29, 2018</a></div>
              <div><a href="#"><span class="icon-person"></span> Admin</a></div>
              <div><a href="#"><span class="icon-chat"></span> 19</a></div>
            </div>
          </div>
        </div>

        <div class="block-21 d-flex mb-4">
          <figure class="mr-3">
            <img src="../../assets/images/img_2.jpg" alt="" class="img-fluid">
          </figure>
          <div class="text">
            <h3 class="heading"><a href="#">En-cours</a></h3>
            <div class="meta">
              <div><a href="#"><span class="icon-calendar"></span> July 29, 2018</a></div>
              <div><a href="#"><span class="icon-person"></span> Admin</a></div>
              <div><a href="#"><span class="icon-chat"></span> 19</a></div>
            </div>
          </div>
        </div>

        <div class="block-21 d-flex mb-4">
          <figure class="mr-3">
            <img src="../../assets/images/img_4.jpg" alt="" class="img-fluid">
          </figure>
          <div class="text">
            <h3 class="heading"><a href="#">En-cours</a></h3>
            <div class="meta">
              <div><a href="#"><span class="icon-calendar"></span> July 29, 2018</a></div>
              <div><a href="#"><span class="icon-person"></span> Admin</a></div>
              <div><a href="#"><span class="icon-chat"></span> 19</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="block-23">
          <h3 class="heading-section">nous contacter</h3>
          <ul>
            <li><span class="icon icon-map-marker"></span><span class="text">En-cours</span></li>
            <li><a href="#"><span class="icon icon-phone"></span><span class="text">En-cours</span></a></li>
            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">En-cours</span></a></li>
          </ul>
        </div>
      </div>


    </div>
    <div class="row pt-5">
      <div class="col-md-12 text-center">
        <!--
            <p>
             Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        <!--Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-ios-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. 
            </p>
          -->
      </div>
    </div>
  </div>
 
</footer>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>